<h2> Edit Blog </h2>


<div class="container">
  <form action="/<%= @blog.id %>" method="post">
    <div class="row">
      <input type="hidden" name="_method" value="put">
      <input type="text" name="blog[name]" value="<%= @blog.name %>">
    </div>
    <div class="row">
      <textarea rows="6" cols="50" type="text" name="blog[body]" value="<%= @blog.body%>"><%= @blog.body%></textarea>
    </div>
    <div class="row">
      <input type="submit" value="Update Blog">
    </div>
  </form>
</div>
