
<div class="container">
  <div class="row">
    <h2> <%= @blog.name %>  </h2>
  </div>

  <div class="row">
    <a href='/'>Main Directory</a>
  </div>

  <div class="row">
    <p> <%= @blog.body %> </p>
  </div>

  <div class="row">
    <form action="/<%= @blog.id %>/edit" method="get">
      <input class="listButton" type="submit" value="Edit">
    </form>

    <form action="/<%= @blog.id %>" method="post">
      <input type="hidden" name="_method" value ="delete">
      <input class="listButton" type="submit" value="Delete">
    </form>
  </div>
</div>
