<h2> Welcome to my blog site </h2>
<h3><a href="/new">New Blog Post</a></h3>


<table>

  <% @blogs.each do |blog| %>
    <tr>
      <td>
        <a class="hyperlink" href="/<%= blog.id %>">
        <%= blog.name %>
        </a>
      </td>

      <td>
        <form action="/<%= blog.id %>/edit" method="get">
          <input class="listButton" type="submit" name="name" value="Edit">
        </form>
      </td>

      <td>
        <form action="/<%= blog.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input class="listButton" type="submit" name="name" value="Delete">
        </form>
      </td>

    </tr>
  <% end %>

</table>
